body{
    font-family: SST,helvetica,arial,sans-serif;
    margin: 0;
    height: auto;
}

.sonyLogoBalk {
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.sonyLogoBalk img {
    height: 15px;
    margin: 10px;
}

.navigatieBalk ul {
    list-style: none;
    padding: 10px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navigatieBalk li {
    padding: 5px;
    font-size: small;
    font-weight: 500;
}

.navigatieBalk img {
    height: 50px;
}

.container {
    margin: 0;
}

.heroBanner {
    background-image: url("assets/deel-1/hero-banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    height: 500px;
}

.heroBanner h1, h3{
    margin-top: 20%;
}

.heroBanner img {
    width: 100%;
}

.cardList {
    padding: 20px;
    display: flex;
    flex-direction: row;
    max-width: 100%;
}

.card {
    margin: 10px;
    height: 100px;
}

.card img{
    border: 2px solid blue;
    border-radius: 10px;
    height: 100%;
}